{
  "printWidth": 80,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "tabWidth": 2,
  "semi": false,
  "arrowParens": "avoid",
  "endOfLine": "auto"
}
